OPEN_METEO_API_KEY=
GOOGLE_FLOOD_API_KEY=
NASA_EARTHDATA_TOKEN=
OSRM_URL=http://router.project-osrm.org
DATABASE_URL=
REDIS_URL=
CITY_NAME=Chennai
CITY_LAT=13.0827
CITY_LON=80.2707
STUDY_AREA_SOUTH=12.99
STUDY_AREA_NORTH=13.17
STUDY_AREA_WEST=80.15
STUDY_AREA_EAST=80.32
LOG_LEVEL=INFO
